############################
# npm, yarn, pnpm
############################

node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

############################
# Build output
############################

/build
/coverage_report
/dist
